.formContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 30px;
    padding: 48px 115px;
    box-shadow: 0px 0px 14px 3px #0000000A;
    gap: 32px;
    background-color: white;


    .inputs {
        display: flex;
        flex-direction: column;
        gap: 32px;
        border-radius: 32px;
        width: 100%;

        label {
            margin-top: -16px;
            color: red;
        }
    }

    .headerContainer {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .underline {
        width: 150px;
        background-color: var(--color-accent);
        height: 3px;
        border-radius: 50px;
        margin-top: -48px;
    }

    .buttonContainer {
        display: flex;
        gap: 35px;
    }

}

@media (max-width: 720px) {
    .form-container {
        padding: 32px 0;
    }
}