.top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;

    .headResp {
        display: none;
        justify-content: space-between;
        align-items: center;
        width: 100%;

        Button {
            width: 40px;
            height: 40px;
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: 45px;
        }
    }

    .search {
        display: flex;
        gap: 32px;

        Button {
            font-size: 21px;
            font-weight: 700;
            padding: 8px 16px;

            span {
                font-size: 28px;
            }
        }
    }
}

.table {
    display: flex;
    justify-content: space-between;
    gap: 26px;

    .column {
        width: 25%;
        max-width: 252px;

        .taskContainer {
            display: flex;
            flex-direction: column;
            gap: 16px;
        }
    }

    .noTask {
        border: 1px dashed #A8A8A8;
        border-radius: 10px;
        color: #A8A8A8;
        background-color: #E7E7E7;
        padding: 10px;
        width: 100%;
        max-width: 252px;
        display: flex;
        justify-content: center;
        box-sizing: border-box;
    }


    .phase {
        display: flex;
        align-items: center;
        justify-content: space-between;

    }

    .taskDraggable {
        cursor: grab;
        transition: all 0.2s ease;

        &.dragging {
            cursor: grabbing;
            transform: rotate(10deg) scale(1.05); // Bonus: Auch etwas größer
            box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2); // Schatteneffekt
            opacity: 0.8;
        }
    }

    .addTaskBtn {
        all: unset;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 24px;
        height: 24px;
        border-radius: 8px;
        border: 2px solid var(--color-primary);
        color: var(--color-primary);
        background-color: unset;
        cursor: pointer;

        &:hover {
            color: var(--color-accent);
            border-color: var(--color-accent);
        }
    }
}

.overlay {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    z-index: 10;
    width: 100%;
    background-color: rgba($color: #a2a2a2, $alpha: 0.3);
    display: flex;
    justify-content: center;
    align-items: center;

    .overlayAddTask {
        background-color: #FFFFFF;
        padding: 32px;
        padding-inline: 64px;
        border-radius: 16px;
        z-index: 20;
    }

    .overlayTaskCard {
        z-index: 20;
    }
}


@media(max-width: 1220px) {
    .table {
        flex-direction: column;

        .column {
            width: 100%;
            max-width: calc(100vw - 232px - 64px);
            min-width: 0;

            .taskContainer {
                width: 100%;
                display: flex;
                overflow-x: auto;
                flex-direction: row; // Mobile
                overflow-y: visible;
                flex-wrap: nowrap;
                gap: 16px;
                padding: 8px;
                margin: -8px;

                >* {
                    flex-shrink: 0;
                    min-width: 252px;
                    width: 252px;
                }
            }
        }
    }
}

@media(max-width: 980px) {
    .top {
        flex-direction: column;
        align-items: flex-start;

        .noResp {
            display: none;
        }

        .headResp {
            display: flex;
        }

        .search {
            width: 100%;

            >div {
                width: 100%;
            }

            Button {
                display: none;
            }
        }
    }

    .overlay {
        overflow-y: auto;

        .overlayAddTask {
            margin-top: 300px;
        }
    }
}

@media (max-width: 680px) {
    .table {
        .column {
            max-width: 100vw;
        }
    }

    .overlay {
        .overlayAddTask {
            margin-top: 0;
        }

        .overlayTaskCard {
            width: 100vw;
        }
    }
}