.top {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .search {
        display: flex;
        gap: 32px;
    }
}

.table {
    display: flex;
    justify-content: space-between;
    gap: 26px;

    .noTask {
        border: 1px dashed #A8A8A8;
        border-radius: 10px;
        color: #A8A8A8;
        background-color: #E7E7E7;
        padding: 10px;
    }


    .phase {
        display: flex;
        align-items: center;
        justify-content: space-between;

    }

    .taskDraggable {
        cursor: grab;
        transition: all 0.2s ease;

        &.dragging {
            cursor: grabbing;
            transform: rotate(10deg) scale(1.05); // Bonus: Auch etwas größer
            box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2); // Schatteneffekt
            opacity: 0.8;
        }
    }

    .addTaskBtn {
        all: unset;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 24px;
        height: 24px;
        border-radius: 8px;
        border: 2px solid var(--color-primary);
        color: var(--color-primary);
        background-color: unset;
        cursor: pointer;

        &:hover {
            color: var(--color-accent);
            border-color: var(--color-accent);
        }
    }
}

.overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    z-index: 10;
    width: 100%;
    background-color: rgba($color: #a2a2a2, $alpha: 0.3);
    display: flex;
    justify-content: center;
    align-items: center;

    .overlayAddTask {
        background-color: #FFFFFF;
        padding: 32px;
        padding-inline: 64px;
        border-radius: 16px;
        z-index: 20;
    }

    .overlayTaskCard {
        z-index: 20;
    }
}