.contactListContainer {
    display: flex;
    flex-direction: column;
    gap: 8px;
    padding: 32px 24px;
    overflow-y: auto;
    width: 50%;

    .singleContact {
        display: flex;
        gap: 8px;
        align-items: center;

        .initials {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 42px;
            height: 42px;
            border-radius: 45px;
            box-sizing: border-box;
            border: 2px solid #FFFFFF;
            background-color: rgb(4, 39, 27);
            color: white;
        }

        div {
            display: flex;
            flex-direction: column;
        }
    }
}

.viewContactContainer {}