.section {
    display: flex;
    gap: 32px;
    min-height: 0;
    height: 100%;
    padding-block: 32px;

}

.overlay {
    z-index: 10;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba($color: #000000, $alpha: 0.2);
    display: flex;
    justify-content: center;
    align-items: center;
}

.contactListContainer {
    display: flex;
    flex-direction: column;
    gap: 32px;
    overflow-y: auto;
    width: auto;
    min-height: 0;
    height: 100%;
    padding-right: 12px;
    margin-right: -12px;

    .singleContactContainer {
        .singleContact {
            width: 352px;
            display: flex;
            flex-shrink: 0;
            gap: 35px;
            align-items: center;
            cursor: pointer;
            padding: 15px 24px;
            border-radius: 10px;

            &:hover {
                background-color: #F9F9F9;
            }

            &:active {
                background-color: var(--color-primary);

                .name {
                    color: white;
                }
            }

            .initials {
                display: flex;
                align-items: center;
                justify-content: center;
                width: 42px;
                min-width: 42px;
                height: 42px;
                border-radius: 45px;
                box-sizing: border-box;
                border: 2px solid #FFFFFF;
                background-color: rgb(4, 39, 27);
                color: white;
                font-size: 16px;
            }

            div {
                display: flex;
                flex-direction: column;

                a {
                    all: unset;
                    color: #007CEE;
                    cursor: pointer;
                }
            }

            .name {
                font-size: 20px;
                color: #000000;
            }
        }

        .letterContainer {
            display: flex;
            flex-direction: column;

            .letter {
                font-size: 20px;
                color: #000000;
                margin-bottom: 16px;
            }

            .letterLine {
                height: 1px;
                background-color: var(--color-border);
                margin-block: 8px;
            }
        }
    }
}

.viewContactContainer {
    display: flex;
    flex-direction: column;
    gap: 32px;
    flex: 1;

    .header {
        display: flex;
        align-items: center;
        gap: 30px;
        color: #000000;
        margin-left: 32px;

        h1 {
            margin: 0;
        }

        .headerLine {
            width: 3px;
            height: 100%;
            background-color: var(--color-accent);
            border-radius: 10px;
        }

        span {
            font-size: 27px;
            color: var(--color-primary);
        }
    }

    .contactInfo {
        display: flex;
        flex-direction: column;
        gap: 21px;

        .nameInfo {
            display: flex;
            gap: 54px;
            align-items: center;

            .nameAndBtn {
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                flex: 1;
                gap: 24px;
            }


            .bigInitials {
                box-sizing: border-box;
                display: flex;
                align-items: center;
                justify-content: center;
                width: 120px;
                height: 120px;
                border: 3px solid #FFFFFF;
                border-radius: 70px;
                color: white;
                font-size: 47px;
                box-shadow: 0px 0px 4px 0px #0000001A;
                background-color: orange;
            }

            h2 {
                font-size: 47px;
                color: #000000;
                font-weight: 500;
                margin: 0;
            }

            .btns {
                display: flex;
                gap: 16px;

                button {
                    all: unset;
                    cursor: pointer;
                    display: flex;
                    align-items: center;
                    gap: 6px;
                    border-radius: 10px;
                    padding: 4px 8px;

                    &:hover {
                        background-color: var(--color-border);
                    }
                }
            }

        }

        .emailContainer {
            display: flex;
            flex-direction: column;
            gap: 15px;

            span {
                font-weight: bold;
            }
        }
    }


}

.slideInRight {
    animation: slideInFromRight 0.3s ease-out forwards;
}

.slideOutRight {
    animation: slideOutToRight 0.3s ease-in forwards;
}

@keyframes slideInFromRight {
    from {
        transform: translateX(100%); // Startet außerhalb rechts
        opacity: 0;
    }

    to {
        transform: translateX(0); // Endet an Position
        opacity: 1;
    }
}

@keyframes slideOutToRight {
    from {
        transform: translateX(0);
        opacity: 1;
    }

    to {
        transform: translateX(100%); // Gleitet nach rechts raus
        opacity: 0;
    }
}



@media (max-width: 1150px) {
    .viewContactContainer {
        .header {
            flex-direction: column;
            align-items: flex-start;

            .mobileHeader {
                display: flex;
                justify-content: space-between;
                align-items: center;
                width: 100%;

                button {
                    all: unset;
                    cursor: pointer;
                }
            }

            span {
                display: none;
            }

        }
    }
}

@media(max-width: 980px) {
    .overlay {
        position: absolute;
    }
}

@media(max-width: 680px) {
    .contactListContainer {
        gap: 0;

        button {
            position: fixed;
            bottom: 100px;
            right: 12px;
            width: 56px;
            height: 56px;
            border-radius: 46px;
            display: flex;
            align-items: center;
            justify-content: center;
        }

        .singleContactContainer {
            .singleContact {
                width: auto;

                a {
                    display: flex !important;
                    font-size: 16px !important;
                    flex-wrap: wrap !important;
                    overflow-wrap: anywhere !important;
                }
            }
        }
    }

    .viewContactContainer {
        h1 {
            font-size: 47px;
        }

        h2 {
            font-size: 36px;
        }

        .header {
            margin-left: 0;
        }

        .contactInfo {
            .nameInfo {
                .bigInitials {
                    width: 80px;
                    height: 80px;
                    font-size: 27px;
                }
            }
        }
    }

}

@media (max-width: 420px) {
    .contactListContainer {
        .singleContactContainer {
            .singleContact {
                gap: 16px;
                padding-inline: 0;
            }
        }
    }
}