.header {
    display: flex;
    align-items: center;
    gap: 30px;

    h1 {
        padding-right: 30px;
        position: relative;
        display: inline-block;
    }

    h1::after {
        content: "";
        position: absolute;
        top: 0;
        right: 0;
        height: 100%;
        width: 3px;
        background-color: var(--color-accent);
    }

    .description {
        color: var(--color-primary);
    }
}

.container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 8px;
    flex: 1;

    .cardContainer {
        display: flex;
        flex-direction: column;
        gap: 18px;
        box-sizing: border-box;

        .singleRow {
            display: flex;
            gap: 18px;
        }

        .card {
            border-radius: 30px;
            padding: 38px 19px;
            background-color: white;
            box-shadow: 0px 0px 4px 0px #0000001A;
            display: flex;
            gap: 18px;
            align-items: center;
            justify-content: space-around;
            flex: 1;
            transition: transform 80ms ease-out;
            box-sizing: border-box;

            &:hover {
                transform: scale(1.03);
                background-color: var(--color-background);
                color: white;

                .icon {
                    background-color: white;
                    color: var(--color-background);
                }

                svg {
                    path {
                        //fill: var(--color-background);
                        stroke: var(--color-background);
                    }
                }

            }

            .icon {
                width: 32px;
                height: 32px;
                padding: 18.5px;
                border-radius: 9999px;
                background-color: var(--color-background);


            }

            .urgent {
                background-color: red !important;
            }

            div {
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;

                span {
                    text-align: center;
                }

                .count {
                    font-weight: 600;
                    font-size: 64px;
                }
            }

            .date {
                font-weight: bold;
            }
        }
    }


    .userContainer {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 8px;

        .greeting {
            font-weight: 500;
            font-size: 47px;
            color: var(--color-primary);
        }

        .name {
            font-weight: 700;
            font-style: bold;
            font-size: 64px;
            color: var(--color-accent);
        }
    }

}


@media (max-width: 860px) {
    .userContainer {
        display: none !important;
    }
}

@media (max-width: 780px) {
    .header {
        h1 {
            margin-bottom: 0;
            margin-top: 0;
            padding-right: 0;
            padding-bottom: 8px;

            &::after {
                top: auto;
                bottom: 0;
                right: auto;
                left: 50%;
                transform: translateX(-50%);
                height: 3px;
                width: 100px;
            }
        }


        margin-block: 40px;
        flex-direction: column;
    }
}

@media (max-width: 500px) {
    h1 {
        font-size: 47px;
    }

    .count {
        font-size: 47px !important;
    }

    .container {
        .cardContainer {
            .card {
                padding: 28px 12px;
                font-size: 14px;

                &:hover {
                    transform: none;
                }

                .icon {
                    width: 24px;
                    height: 24px;
                    padding: 16px;
                    object-fit: contain;
                }
            }
        }
    }
}