.container {
    display: flex;
    justify-content: space-between;

    .line {
        width: 1px;
        background-color: #D1D1D1;
    }

    .side {
        display: flex;
        flex-direction: column;
        gap: 24px;
    }
}

.label {
    color: var(--color-primary);
    display: block;
    margin-bottom: 8px;
    font-size: 20px;
}

.textarea {

    textarea {
        border-radius: 10px;
        border: 1px solid var(--color-border);
        padding: 12px 21px;
        min-width: 420px;
        height: 120px;
        font-size: 20px;
        outline: none;

        &::placeholder {
            color: var(--color-border);
        }

        &:focus-within {
            border-color: var(--color-accent);
        }
    }
}

.date {
    color: var(--color-primary);
}

.priorityFieldset {
    border: none;
    font-size: 20px;

    .priority {
        display: flex;
        justify-content: space-between;
        gap: 8px;

        button {
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 8px;
            width: 33%;
            font-size: 20px;
            border-radius: 10px;
            padding: 16px 10px;
            background-color: white;
            border: none;
            box-shadow: 0px 0px 4px 0px #0000001A;

            &:hover {
                color: white;
                background-color: var(--hover-color);

                svg path {
                    fill: white;
                }

                span {
                    color: white;
                }
            }

            &.red {
                --hover-color: #FF3D00;
            }

            &.yellow {
                --hover-color: #FFA800;
            }

            &.green {
                --hover-color: #7AE229;
            }

            span {
                width: 20px;
                color: #FFA800;
                height: fit-content;
                font-size: 24px;
            }

        }

        .urgentIcon {
            width: 20px;
            height: fit-content;

            path {
                fill: #FF3D00;
            }
        }

        .lowIcon {
            width: 20px;
            height: fit-content;
            rotate: 180deg;

            path {
                fill: #7AE229;
            }
        }
    }
}

.bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .red {
        color: red;
    }

    .addTaskButton {
        display: flex;
        gap: 16px;

        .backroundNone {
            background-color: transparent;
            color: var(--color-primary);
        }

        img {
            width: 17px;
            object-fit: contain;
            margin-left: 6px;
        }
    }
}

.redActive {
    color: white;
    background-color: #FF3D00 !important;

    svg path {
        fill: white !important;
    }
}

.yellowActive {
    color: white;
    background-color: #FFA800 !important;

    span {
        color: white !important;
    }
}

.greenActive {
    color: white;
    background-color: #7AE229 !important;

    svg path {
        fill: white !important;
    }
}