.layoutContainer {
    display: flex;
    height: 100vh;
    max-height: 1024px;
    max-width: 1440px;
    overflow: hidden;

    .wrapper {
        display: flex;
        flex-direction: column;
        flex: 1;

        main {
            flex: 1;
            padding-inline: 24px;
            padding-bottom: 24px;
            min-height: 0;
            box-sizing: border-box;
            position: relative;
            overflow-y: auto;
        }
    }
}

@media (max-width: 680px) {
    .layoutContainer {
        flex-direction: column;
        min-height: 100vh;
        max-height: 100vh;

        .wrapper {
            order: 1 !important;
            min-height: 0;

            main {
                padding-inline: 16px;
            }
        }

        nav {
            order: 2;
            min-height: 60px;
        }


    }
}

@media (max-width: 360px) {
    .layoutContainer {
        .wrapper {
            main {
                padding-inline: 8px;
            }
        }

    }

}