:root {
  --color-primary: #2A3647;
  --color-accent: #29ABE2;
  --color-background: #2A3647;
  --color-text-primary: #263238;
  --color-text-secondary: #a0a5b9;
  --color-success: #3bdf90;
  --color-warning: #f86e51;
  --color-info: #7893ff;
  --color-border: #D1D1D1;
}

body {
  margin: 0;
}

input {
  outline: none;
}

h1 {
  font-size: 61px;
  font-weight: 700;
  line-height: 120%;
  font-style: bold;
}