.container {
    display: flex;
    justify-content: space-between;
    border-radius: 30px;

    .leftside {
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 12px;
        background-color: var(--color-background);
        color: white;
        padding: 66px 48px;
        font-size: 27px;
        border-top-left-radius: 30px;
        border-bottom-left-radius: 30px;

        button {
            display: none;
        }

        img {
            width: 56px;
        }

        h1 {
            margin: 0;
            font-size: 61px;
            font-weight: 700;
        }

        .line {
            width: 90px;
            height: 3px;
            background-color: var(--color-accent);
            border-radius: 10px;
        }
    }

    .rightside {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 12px;
        background-color: white;
        padding: 66px 48px;
        font-size: 27px;
        border-top-right-radius: 30px;
        border-bottom-right-radius: 30px;

        .personIcon {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 120px;
            height: 120px;
            margin: 0;
            border: 3px solid white;
            border-radius: 70px;
            box-shadow: 0px 0px 4px 0px #0000001A;
            background-color: #D1D1D1;
            object-fit: contain;
            font-size: 47px;
            color: white;

            img {
                width: 64px;
                height: 64px;
            }
        }

        form {
            display: flex;
            flex-direction: column;
            gap: 32px;

            .formBtns {
                margin-top: 32px;
                display: flex;
                gap: 24px;

                Button {
                    display: flex;
                    gap: 8px;
                    align-items: center;
                    font-size: 21px;
                    font-weight: bold;

                    img {
                        width: 24px;
                        object-fit: contain;
                    }

                }

                .cancel {
                    background-color: white;
                    color: var(--color-primary);
                    border-color: var(--color-primary);
                }
            }
        }


    }
}

@media(max-width: 980px) {
    .container {
        flex-direction: column;

        .leftside {
            border-bottom-left-radius: 0;
            border-top-left-radius: 30px;
            border-top-right-radius: 30px;
            font-size: 20px;
            padding: 100px 24px;
            padding-top: 32px;

            h1 {
                font-size: 47px;
            }

            .mobileLogo {
                display: flex;
                justify-content: flex-end;

                img {
                    display: none;
                }

                button {
                    all: unset;
                    cursor: pointer;
                    color: white;
                    display: flex;
                    justify-content: center;
                    align-items: center;

                    img {
                        display: block;
                        width: 24px;
                        height: 24px;
                        object-fit: contain;
                    }
                }
            }

            img {
                display: none;
            }
        }

        .rightside {
            border-top-right-radius: 0;
            border-bottom-left-radius: 30px;
            flex-direction: column;
            padding: 66px 24px;
            padding-bottom: 32px;

            .mobileIcon {
                margin-top: -125px;
            }

            form {
                gap: 15px;
            }

            .formBtns {
                display: flex;
                justify-content: center;
                margin-top: 17px;

                .cancel {
                    display: none;
                }
            }


        }
    }

}