.container {
    display: flex;
    justify-content: space-between;
    border-radius: 30px;

    .leftside {
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 12px;
        background-color: var(--color-background);
        color: white;
        padding: 66px 48px;
        font-size: 27px;
        border-top-left-radius: 30px;
        border-bottom-left-radius: 30px;

        img {
            width: 56px;
        }

        h1 {
            margin: 0;
            font-size: 61px;
            font-weight: 700;
        }

        .line {
            width: 90px;
            height: 3px;
            background-color: var(--color-accent);
            border-radius: 10px;
        }
    }

    .rightside {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 12px;
        background-color: white;
        padding: 66px 48px;
        font-size: 27px;
        border-top-right-radius: 30px;
        border-bottom-right-radius: 30px;

        .personIcon {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 120px;
            height: 120px;
            margin: 0;
            border: 3px solid white;
            border-radius: 70px;
            box-shadow: 0px 0px 4px 0px #0000001A;
            background-color: #D1D1D1;
            object-fit: contain;

            img {
                width: 64px;
                height: 64px;
            }
        }

        form {
            display: flex;
            flex-direction: column;
            gap: 32px;

            .formBtns {
                margin-top: 32px;
                display: flex;
                gap: 24px;

                .cancel {
                    background-color: white;
                    color: var(--color-primary);
                    border-color: var(--color-primary);
                }
            }
        }


    }
}