.button {
    color: #FFFFFF;
    border-radius: 10px;
    padding: 15px 24px;
    background-color: var(--color-background);
    transition: 100ms ease-in-out;
    cursor: pointer;
    border-color: var(--color-background);
    font-size: 20px;

    &:hover {
        box-shadow: 0px 4px 4px 0px #00000040;
    }

    &:disabled {
        cursor: not-allowed;
        background-color: #CDCDCD;
    }
}

@media(max-width: 980px) {
    .button {
        font-size: 16px;
    }
}