.smallCard {
    box-sizing: border-box;
    width: 252px;
    border-radius: 24px;
    padding: 16px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    background-color: white;
    box-shadow: 0px 0px 10px 3px #00000014;
    cursor: pointer;

    .category {
        border-radius: 8px;
        padding: 4px 16px;
        width: fit-content;
    }

    .technicalCat {
        background-color: #1FD7C1;
    }

    .businessCat {
        background-color: #0038FF;
    }

    .designCat {
        background-color: #FF6B6B;
    }

    .marketingCat {
        background-color: #4ECDC4;
    }

    .defaultCat {
        background-color: #A8A8A8;
    }

    .title {
        font-size: 16px;
        font-style: bold;
        font-weight: 700;
    }

    .description {
        color: #A8A8A8;
        font-size: 16px;
    }

    .bottom {
        display: flex;
        justify-content: space-between;
    }

    .assignetTo {
        display: flex;

        .initials {
            display: flex;
            align-items: center;
            justify-content: center;
            font-size: 12px;
            width: 32px;
            height: 32px;
            border-radius: 45px;
            color: white;
            border: 1px solid white;
            margin-right: -8px;
        }
    }

    .priorityIcon {
        .urgentIcon {
            width: 18px;

            path {
                fill: #FF6B6B;
            }
        }

        .mediumIcon {
            color: #FFA800;
            font-size: 28px;
        }

        .lowIcon {
            rotate: 180deg;
            width: 18px;

            path {
                fill: #7AE229;
            }
        }
    }

    .subtasks {
        display: flex;
        justify-content: space-between;
        align-items: center;

        .subtasksBar {
            background-color: #F4F4F4;
            border-radius: 8px;
            height: 8px;
            width: 128px;
            display: flex;
            align-items: center;

            .singleSubtaskBar {
                background-color: #4589FF;
                border: 1px solid white;
                border-radius: 16px;
                display: block;
                height: 100%;
                width: 100%;
                margin-right: -4px;
            }
        }
    }




}